
body, h1, p {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the h1 element within the header */
.header h1 {
    font-family: "Arial", sans-serif; 
    font-size: 90px; 
    margin: 0; 
}

.zero{
    height: 100%;
    width: 100%;
    background-image: url('../img/image1.jpeg');
    background-size: cover;
}
.zero .image{
    width: 100%;
    height: 100%;
    background-color: rgb(247 245 245 / 89%);
    align-items: center;
    justify-content: center;
}

/* Style the header with a background color and text color */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.class3 .jazz{
    text-align: center;
    margin: 20px;
    font-family: 'Bubblegum Sans';
    color: #fe7504;
    text-transform: uppercase;
}

/* Style class1 div */
.class1 {
    text-align: center;
    margin: 20px;
}
.class1 p{
    /* letter-spacing: 1px; */
    letter-spacing: 2.0px;
    color: rgb(246 7 7);
    font-size: 33px;
    font-family: 'Creepster',sans-serif;

}

.class1 .stress {
    font-family: "Bubblegum sans",sans-serif;
    color: #37d2e6;
    font-size: 40px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.90);
}
/* Style class2 div */
.class2 {
    font-family: 'Atomic age';
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: #0d4974;
    
}
.class2 .class3{
    font-style: italic;
    font-weight: bold;
    color: #2cf009f7;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
}
/* .class3 .class2{
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
} */
.class3{
    font-family: "Atomic Age", sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin: 20px;
    color: rgb(35 141 17);
}

/* .class3 > .jazz{
    font-family: 'Creepster',sans-serif;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(221, 46, 11);
} */
/* Style class4 div */
.class4 p {
    font-family: 'Bubblegum Sans',sans-serif;
    text-align: center;
    margin: 20px;
    letter-spacing: 1.25px;
    font-size: 35px;
    color: #ad066a;
}

.class5{
    text-align:center;
    margin: 20px;
}
.class5 p {
    font-family: 'Creepster', sans-serif;  
    color: #9900cc; 
    letter-spacing: 1.5px;
    font-size: 33px;
}

.class6 {
    text-align: center;
    margin: 20px;
}

.class6 p {
    font-family: 'Dancing Script'; 
    color: #ff0099; 
    font-size: 35px;
}

.pop {
    font-family: 'Faster one';
    color: #ac0808;
}

/* #stress {
    font-weight: bold;
    color: #ff0000; 
} */

.note1 {
    font-style: italic;
    font-weight: bold;
    color: rgb(209, 16, 113);
    font-family: 'Creepster';
    letter-spacing: 1.5px;
    font-size: 29px;
    text-shadow: 3px 4px 2px  rgba(0, 0, 0, 0.85);
}
